<input 
fullWidth 
nbInput 
[nbDatepicker]="_updateAfter" 
[placeholder]="column?.filter?.config?.date_1" 
[formControl]="updateAfter"
>
<nb-datepicker #_updateAfter></nb-datepicker>

<br>

<input 
fullWidth 
nbInput 
[nbDatepicker]="_updateBefore" 
[placeholder]="column?.filter?.config?.date_2" 
[formControl]="updateBefore"
>
<nb-datepicker #_updateBefore></nb-datepicker>


<i class="nb-trash" (click)="resetFilters()"></i>

