
<nb-card accent="info">
    <nb-card-header class="checkbox-container">
      <div>
        Ingredients
      </div>
      <div class="checkbox-container">
        <label> Show Only Not Approved</label>
        <nb-checkbox (change)="onChange($event)"[(ngModel)]="filter">
        </nb-checkbox>
      </div>
    </nb-card-header>
  
    <nb-card-body>



        <dashboard-table
        *ngIf="!filter" 
        #dashboardTable
        [actions]="actions"
        [endpoint]="endpoint"
        [columns]="columns"
        (onAdd)="onAdd($event)"
        (onEdit)="onEdit($event)"
        (onDelete)="onDelete($event)"
        (onView)="onView($event)"
        >
        </dashboard-table>


        <dashboard-table
        *ngIf="filter" 
        #dashboardTable
        [endpoint]="endpoint + '?not_approved=true'"
        [columns]="columns"
        (onAdd)="onAdd($event)"
        (onEdit)="onEdit($event)"
        (onDelete)="onDelete($event)"
        (onView)="onView($event)"
        [anotherActions]="anotherActions"
        (onCustomActionClick)="onCustomAction($event)"
        >
        </dashboard-table>

    </nb-card-body>

</nb-card>