.tree{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.with-border-field{
    padding-left: 0 !important;
    margin-left: 25px;
    border-left: solid 5px #0095FF;
}

.in-children-field{
    // width: 100%;
    display: flex;
    min-height: 40px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    align-items: center;
}

.children-field{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
}

.in-children-field-and-has-a-children{
    padding-left: 0;
}

.children{
    margin-left: 52px;
    margin-top: 10px;
    border-left: solid 1px #5555; 
}
.title, .value{
    flex: 1;
}
.title{
    margin-left: 10px;
}

.horizontal-line{
    height: 1px;
    background-color: #5555;
    width: 30px;
}
.title-with-horizontal-line-container{
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;

}