<nb-card>
    <nb-card-header>
        Add Ingredient
    </nb-card-header>
    <nb-card-body>
        <dynamic-form [formItems]="formItems" (onSubmit)="onSubmit($event)">
        </dynamic-form>
    </nb-card-body>
    
    
</nb-card>