.group-form-container{
    border-bottom: 1px solid lightgray;
    margin-bottom: 50px;
}

.center-content{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}