.form-item {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: start;
    padding: 15px 0;
}

dynamic-form-errors {
    justify-self: start;
    grid-column: 2 / 3;
    margin: 5px 0;
}

.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}

.buttons-container > * {
    margin: 0 10px;
}

::ng-deep .custom-phone-input-class {
    border-radius: 5px !important;
    border: 1px solid lightgray !important;
    line-height: 2.5 !important;
}
.select-input{
    width: 235px;
}

input[type="file"] {
    display: none;
}