<div *ngIf="!isEmptyObject(buildedFormItems)">

    <form [formGroup]="buildedFormItems" (ngSubmit)="submitHandler()">


        <div class="form-items-container">


            <div *ngFor="let formItem of _formItems">

                <div [ngSwitch]="formItem._innerId">

                    <!--***********************************************************-->

                    <div *ngSwitchCase="'input'" class="form-item">

                        <label *ngIf="formItem.showedLabel" [for]="formItem.key">
                            {{formItem.showedLabel}}
                        </label>

                        <input nbInput [formControlName]="formItem.key" [type]="formItem.type"
                            [placeholder]="formItem.placeholder" />

                        <dynamic-form-errors [formItem]="formItem">
                        </dynamic-form-errors>

                    </div>

                    <!--***********************************************************-->

                    <div *ngSwitchCase="'textArea'" class="form-item">

                        <label *ngIf="formItem.showedLabel" [for]="formItem.key">
                            {{formItem.showedLabel}}
                        </label>

                        <textarea nbInput [formControlName]="formItem.key"
                            [placeholder]="formItem.placeholder" ></textarea>

                        <dynamic-form-errors [formItem]="formItem">
                        </dynamic-form-errors>

                    </div>


                    <!--***********************************************************-->

                    <div *ngSwitchCase="'checkbox'" class="form-item">


                        <label *ngIf="formItem.label" [for]="formItem.key">
                            {{formItem.label}}
                        </label>

                        <nb-checkbox [formControlName]="formItem.key" [checked]="formItem.checked">
                            {{ formItem.label || 'Check it' }}
                        </nb-checkbox>


                        <dynamic-form-errors [formItem]="formItem">
                        </dynamic-form-errors>

                    </div>

                    <!--***********************************************************-->

                    <div *ngSwitchCase="'date'" class="form-item">

                        <label *ngIf="formItem.showedLabel" [for]="formItem.key">
                            {{formItem.showedLabel}}
                        </label>

                        <input nbInput [formControlName]="formItem.key" [nbDatepicker]="datepicker" />
                        <nb-datepicker #datepicker></nb-datepicker>


                        <dynamic-form-errors [formItem]="formItem">
                        </dynamic-form-errors>

                    </div>

                    <!--***********************************************************-->

                    <div *ngSwitchCase="'dateRange'" class="form-item">

                        <label *ngIf="formItem.showedLabel" [for]="formItem.key">
                            {{formItem.showedLabel}}
                        </label>

                        <input nbInput [formControlName]="formItem.key" [nbDatepicker]="rangepicker" />
                        <nb-rangepicker #rangepicker></nb-rangepicker>


                        <dynamic-form-errors [formItem]="formItem">
                        </dynamic-form-errors>

                    </div>

                    <!--***********************************************************-->

                    <div *ngSwitchCase="'dropdown'" class="form-item">

                        <label *ngIf="formItem.showedLabel" [for]="formItem.key">
                            {{formItem.showedLabel}}
                        </label>


                        <nb-select class="select-input" [formControlName]="formItem.key" [placeholder]="formItem.showedLabel">

                            <nb-option *ngFor="let option of formItem.options" [value]="option.key">
                                {{ option.value }}
                            </nb-option>

                        </nb-select>

                        <dynamic-form-errors [formItem]="formItem">
                        </dynamic-form-errors>

                    </div>

                    <!--***********************************************************-->

                    <div *ngSwitchCase="'multiSelect'" class="form-item">

                        <label *ngIf="formItem.showedLabel" [for]="formItem.key">
                            {{formItem.showedLabel}}
                        </label>


                        <nb-select multiple [formControlName]="formItem.key" [placeholder]="formItem.showedLabel">

                            <nb-option *ngFor="let option of formItem.fullList" [value]="option.key">
                                {{ option.value }}
                            </nb-option>

                        </nb-select>

                        <dynamic-form-errors [formItem]="formItem">
                        </dynamic-form-errors>

                    </div>

                    <!--***********************************************************-->

                    <div *ngSwitchCase="'color'" class="form-item">

                        <label *ngIf="formItem.showedLabel" [for]="formItem.key">
                            {{formItem.showedLabel}}
                        </label>


                        <input nbInput class="color" [(colorPicker)]="formItem.color"
                            (colorPickerChange)="formItem._onColorChange($event)" [cpPosition]="'bottom-left'"
                            [style.background]="formItem.color" />


                        <dynamic-form-errors [formItem]="formItem">
                        </dynamic-form-errors>

                    </div>

                    <!--***********************************************************-->

                    <div *ngSwitchCase="'phone'" class="form-item">

                        <label *ngIf="formItem.showedLabel" [for]="formItem.key">
                            {{formItem.showedLabel}}
                        </label>

                        <ngx-intl-tel-input [formControlName]="formItem.key" [cssClass]="'custom-phone-input-class'"
                            [preferredCountries]="[CountryISO.UnitedStates, CountryISO.UnitedKingdom]"
                            [enableAutoCountrySelect]="true" [enablePlaceholder]="true" [searchCountryFlag]="true"
                            [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                            [selectFirstCountry]="false" [selectedCountryISO]="CountryISO.India" [maxLength]="15"
                            [tooltipField]="TooltipLabel.Name" [phoneValidation]="true">
                        </ngx-intl-tel-input>

                        <dynamic-form-errors [formItem]="formItem">
                        </dynamic-form-errors>

                    </div>

                    <!--***********************************************************-->

                    <div *ngSwitchCase="'number'" class="form-item">

                        <label *ngIf="formItem.showedLabel" [for]="formItem.key">
                            {{formItem.showedLabel}}
                        </label>

                        <input nbInput [formControlName]="formItem.key" type="number"
                            (ngModelChange)="changeHandlerForNumberItem($event, formItem)"
                            [placeholder]="formItem.placeholder" />

                        <dynamic-form-errors [formItem]="formItem">
                        </dynamic-form-errors>

                    </div>

                    <!--***********************************************************-->

                    <div *ngSwitchCase="'dialog'" class="form-item">

                        <label *ngIf="formItem.showedLabel" [for]="formItem.key">
                            {{formItem.showedLabel}}
                        </label>

                        <button type="button" [disabled]="formItem.disabled" nbButton (click)="changeHandlerForDialogItem($event, formItem)">
                            {{formItem.name || 'Please Select One'}}
                        </button>

                        <dynamic-form-errors [formItem]="formItem">
                        </dynamic-form-errors>

                    </div>


                    <div *ngSwitchCase="'file'" class="form-item">

                        <label *ngIf="formItem.showedLabel" [for]="formItem.key">
                            {{formItem.showedLabel}}
                        </label>
                        <label>
                            <button  (click)="file.click()" class="file-upload-button" nbButton> {{file.files.length > 0 ? file.files[0].name  : 'File Upload'}}</button>
                            <input #file [formControlName]="formItem.key" placeholder="Add File" type="file"
                            (change)="changeHandlerForFileItem($event, formItem)"/>
                        </label>

                        <dynamic-form-errors [formItem]="formItem">
                        </dynamic-form-errors>

                    </div>

                </div>

            </div>

        </div>

        <div class="buttons-container" *ngIf="!disabled">

            <button type="button" nbButton status="success" (click)="submitHandler()" 
            [disabled]="!buildedFormItems?.valid" 
            *ngIf="!hideSubmitButton"
            >
                {{ 'submit' | translate }}
            </button>
            <!-- <button nbButton status="danger" (click)="resetForm($event)" *ngIf="!hideResetButton">
                reset
            </button> -->

        </div>

    </form>

</div>