
<input 
#_moreThan
fullWidth 
nbInput 
[placeholder]="column?.filter?.config?.form_1" 
[formControl]="moreThan"
>

<br>

<input 
#_lessThan
fullWidth 
nbInput 
[placeholder]="column?.filter?.config?.form_2" 
[formControl]="lessThan"
>


<i class="nb-trash" (click)="resetFilters()"></i>

