
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

    <p>Please Login</p>

    <input placeholder="email" formControlName="email" type="text">

    <input placeholder="password" formControlName="password" type="password">

    <button type="submit">Login</button>
 
</form>
