<nb-alert *ngIf="errorMessage.length != 0" status="danger" closable (close)="onClose()">
    <div *ngFor="let x of errorMessage ">
      <span>{{x}}</span>
      <br/>
    </div>
   
  </nb-alert>
  
<nb-card accent="info">

    <nb-card-header>
        Edit Role {{ role?.name }}
    </nb-card-header>

    <nb-card-body>
        <dynamic-form *ngIf="(formItems | async)?.length" [formItems]="formItems | async" (onSubmit)="onSubmit($event)"></dynamic-form>

    

    </nb-card-body>



</nb-card>

<nb-card accent="info">

    <nb-card-header>
        Edit Permission For Role : {{ role?.name }}
    </nb-card-header>

    <nb-card-body>
        <dashboard-table
        *ngIf="columns"
        #dashboardTable
        [endpoint]="endpoint"
        [actions]="actions"
        [columns]="columns"
        [enableCheckList] = "true"
        (onSubmitCheckList) = "onSubmitCheckList($event)"
        [checkListData] = 'permissionList'
        (onAdd)="onAdd()"
        (onEdit)="onEdit()"
        (onDelete)="onDelete()"
        (onView)="onView()"
        >  
     </dashboard-table>
        
 </nb-card-body>


</nb-card>