<div class="container">
  <div class="filters-container"></div>
  <form [formGroup]='filtersForm'>
      <button nbButton status='primary' (click)="getData()">OK</button>
      <div class="form-field-container" *ngFor="let filter of filters">
          <input class="filter-input" [formControlName]="filter.field" [placeholder]="filter.title"  nbInput/>
          <button *ngIf="filter.sort" nbButton class="sort-button" [ngClass]='getSortClass(filter.field)' (click)="onSortClick(filter.field)"></button>
      </div>
        </form>
  <div class="table-container">
    <ng2-smart-table
      [settings]="settings"
      [source]="source"
      (create)="onAdd.emit($event)"
      (custom)="onCustomAction($event)"
    >
    </ng2-smart-table>
  </div>

  <div class="pager-container">
      
  </div>
</div>
