form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
form > * {
    flex : 1;
}

.form-field-container{
    display: flex;
    flex-direction: row;
}
.filter-input{
    flex: 1;
}
.sort-button{
    width: 5px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.up{
    background-image: url('/src/assets/icons/up.svg');
}
.down{
    background-image: url('/src/assets/icons/down.svg');
}
.none{
    background-image: url('/src/assets/icons/noneSorting.svg');
}
