<div
    *ngIf="formItem &&  formItem._interface && formItem._interface.touched && formItem._interface.errors && keys(formItem._interface.errors)?.length">

    <div *ngFor="let error of keys(formItem._interface.errors)">
        <div [ngSwitch]="error">

            <div @fadeIn *ngSwitchCase="'email'">
                <nb-alert status="danger">not a valid email</nb-alert>
            </div>

            <div @fadeIn *ngSwitchCase="'required'">
                <nb-alert status="danger">{{formItem.showedLabel || formItem.key}} is required</nb-alert>
            </div>

            <div @fadeIn *ngSwitchCase="'maxlength'">
                <nb-alert status="danger"> over the max length, where required Length is
                    {{formItem._interface.errors[error]['requiredLength']}} </nb-alert>
            </div>

            <div @fadeIn *ngSwitchCase="'minlength'">
                <nb-alert status="danger"> under the min length, where required Length is
                    {{formItem._interface.errors[error]['requiredLength']}} </nb-alert>
            </div>

            <div @fadeIn *ngSwitchCase="'pattern'">
                <nb-alert status="danger">
                    must match the required patter {{ formItem._interface.errors[error]['requiredPattern'] }}
                </nb-alert>
            </div>

            <div @fadeIn *ngSwitchCase="'validatePhoneNumber'">
                <nb-alert status="danger">
                    not a valid international phone number
                </nb-alert>
            </div>

            <div *ngSwitchDefault>
                <nb-alert status="danger"> {{ formItem._interface.errors[error] }} </nb-alert>
            </div>

        </div>
    </div>
</div>