
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

// themes - our custom or/and out of the box themes
@import 'themes';

// framework component themes (styles tied to theme variables)
@import '~@nebular/theme/styles/globals';
@import '~@nebular/auth/styles/all';

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/grid';

// loading progress bar theme
@import './pace.theme';

@import './layout';
@import './overrides';

@import '~eva-icons/style/eva-icons.css';

// install the framework and custom global styles
@include nb-install() {

  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();

  @include ngx-layout();
  // loading progress bar
  @include ngx-pace-theme();

  @include nb-overrides();
};



.ng2-smart-actions {
  height: 100% !important;
}

.ng2-smart-actions > *{
  width: 100% !important;
  height: 100% !important;
  display: flex !important;
}
.ng2-smart-actions:first-child{
  padding: 20px !important;
}


.disabled-row{
  // background-color: #f7f9fc;
  border-left: solid #870101 5px !important;
}  

.selected-row{
  // background-color: #f7f9fc;
  border-left: solid #0095FF 5px !important;
}  

.avatar{
  width:100px ;
}