<nb-card accent="success">

  
  <nb-card-header>
    Roles
  </nb-card-header>
  
  <nb-card-body>
    <data-view [object]="role" [ignore]="['permissions','id','users']">
  
    </data-view>
        <dashboard-table
        *ngIf="columns"
        #dashboardTable
        [endpoint]="endpoint"
        [columns]="columns"
        [dataKey]="'permissions'"
        >
        </dashboard-table>

    </nb-card-body>

</nb-card>