
<nb-card>
    <nb-card-header>{{ title }}</nb-card-header>
    <nb-card-body>
        {{ message }}
    </nb-card-body>
    <nb-card-footer>
     
        <div class="center-content">

            <button nbButton hero status="danger" (click)="onDeleteHandler()">
                {{ 'yes' | translate}}
            </button>

            <button nbButton hero status="info" (click)="dismiss()">
                {{ 'no' | translate}}
            </button>

        </div>

    </nb-card-footer>
  </nb-card>
  