
<nb-card accent="info">

    <nb-card-header>
        Edit Permission
    </nb-card-header>

    <nb-card-body>
        <dynamic-form *ngIf="(formItems | async)?.length" [formItems]="formItems | async" (onSubmit)="onSubmit($event)"></dynamic-form>
    </nb-card-body>

</nb-card>