<nb-card accent="info">

    <nb-card-header>
      Categories
    </nb-card-header>
  
    <nb-card-body>

        <dashboard-table 
        #dashboardTable
        [actions]="actions"
        [endpoint]="endpoint"
        [columns]="columns"
        (onAdd)="onAdd($event)"
        (onEdit)="onEdit($event)"
        (onDelete)="onDelete($event)"
        (onView)="onView($event)"
        >
        </dashboard-table>

    </nb-card-body>

</nb-card>