<div class="container">
    <div class="field" *ngFor="let field of getItems()">
      <div class="title">
        {{field.key}}
      </div>
      <div class="value" [innerHTML]="getSafeHTML(field.value)">

      </div>
    </div>
</div>