.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.field{
    width: 100%;
    display: flex;
    height: 40px;
    align-items: center;
    padding-left: 10px;
    margin: 10px;
    border-left: solid 5px #0095FF;
}


.title, .value{
    flex: 1;
}