<nb-card class="card" accent="info">

    <nb-card-header>
      Categories
    </nb-card-header>
  
    <nb-card-body>

        <dashboard-table 
        #dashboardTable
        [endpoint]="endpoint"
        [columns]="columns"
        [enableSelection]="true"
        (onSubmitSelection)="onSubmit($event)"
        >
        </dashboard-table>

    </nb-card-body>

</nb-card>