
<nb-card>
    <nb-card-header>{{ title }}</nb-card-header>
    <nb-card-body>

        <div *ngIf="isinputMetaDataExist"  class="form-item">
            <div *ngFor="let item of inputsMetaData">
            <label *ngIf="item.showedLabel" [for]="item.key">
               {{item.showedLabel}}
            </label>

            <input nbInput [(ngModel)]="item.value" [type]="item.type"
                [placeholder]="item.placeholder" />
            </div>
        </div>
    </nb-card-body>
    <nb-card-footer>
     
        <div class="center-content">
            <button nbButton hero status="info" (click)="onAcceptHandler()">
               {{'accept' | translate}}
            </button>

            <button nbButton hero status="danger" (click)="dismiss()">
                {{ 'no' | translate}}
            </button>
        </div>

    </nb-card-footer>
  </nb-card>
  