// ::ng-deep ng2-st-tbody-edit-delete {
//     display: flex !important;
//     height: 0 !important;
//     background: green !important;
// }
  
// ::ng-deep ng2-st-tbody-custom a.ng2-smart-action.ng2-smart-action-custom-custom {
//     display: inline-block !important;
//     width: 50px !important;
//     text-align: center;
//     font-size: 1.1em;
//     height: 35px !important;
// }
  
// ::ng-deep ng2-st-tbody-custom a.ng2-smart-action.ng2-smart-action-custom-custom:hover {
//     color: #5dcfe3;
// }

// ::ng-deep ng2-st-tbody-custom a.ng2-smart-action.ng2-smart-action-custom-custom > .nb-trash {
//     color: red;
// }


// ::ng-deep ng2-st-tbody-custom a.ng2-smart-action.ng2-smart-action-custom-custom > .nb-edit {
//     color: rgb(60, 191, 231);
// }


// ::ng-deep ng2-st-tbody-custom a.ng2-smart-action.ng2-smart-action-custom-custom > .nb-info::before {
//     color: rgb(153, 219, 31);
// }


// ::ng-deep .ng2-smart-actions.ng-star-inserted > *{
//     display: flex !important;
// }