<nb-card accent="success" class="card">

    <nb-card-header>
      Select Permissions
    </nb-card-header>
  
    <nb-card-body>

        <dashboard-table
        *ngIf="columns"
        #dashboardTable
        [endpoint]="endpoint"
        [actions]="actions"
        [columns]="columns"
        [enableCheckList]="true"
        (onSubmitCheckList)="onSubmit($event)"
        >
        </dashboard-table>

    </nb-card-body>

</nb-card>